---
name: Build
"on":
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    strategy:
      matrix:
        jdk: ['21']

    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          show-progress: false
          persist-credentials: false

      - name: Login to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Start Test Database
        run: |
          docker compose up -d --wait --quiet-pull

      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.jdk }}
          java-package: jdk
          cache: 'maven'

      - name: Wait for database to initialise
        run: |
          echo "Waiting for HANA to start..."
          timeout 600 bash -c "until docker logs hibernate-hdb-demo-hana-1 2>&1 | grep 'Ready at: ' > /dev/null 2>&1 ; do sleep 1 ; done"
          echo "HANA is ready..."

      - name: Build
        run: |
          mvn clean site install -B -Djdbc.url=jdbc:sap://localhost:39041 -Djdbc.user=SYSTEM -Djdbc.password=HXEHana1

      - name: Stop test resources
        if: always()
        run: |
          docker compose down > /dev/null 2>&1 || true
